@use '../../../app/styles/abstracts/variables' as v;

.logo {
  position: relative;
  display: inline-flex;

  &::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    pointer-events: none;
    transition: box-shadow v.$transition-base;
  }

  &:hover::before {
    box-shadow: v.$shadow-logo-hover;
  }

  &__icon {
    display: block;
    width: 60px;
    height: 60px;
  }
}
